.section-title h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.underline {
    //border-bottom: 3px solid #d48c7d;
	border-bottom: 3px solid #333;
    width: 100px;
    padding-top: 25px;
    margin: auto;
}

/* HEADER */
.header {
    background-image: url('~src/assets/header.jpeg');
    height: 100%;
	background-size: cover;
	background-position: 20%;
	background-repeat: no-repeat;
	max-height: 900px;
}

.overlay-header {
    //background-color: rgba(0, 0, 0, 0.5);
	background-color: rgba($color: #000, $alpha: 0.5);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bounce {
    margin-bottom: 25px;
}

.overlay-header .fa {
    color: white;
    font-size: 70px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.overlay-header .fa:hover {
    border-bottom: none;
    cursor: pointer;
    color: pink;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
}

.title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.title-wrapper h1 {
    font-weight: 200;
    font-size: 60px;
    margin: auto;
}

.title-wrapper h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 35px auto 0px auto;
}
/* HEADER */

/* SKILLS */
.skills-container {
    height: fit-content;
	//background-color: #73d393;
    background-color: rgb(125, 236, 111);
	color: white;
    padding-bottom: 50px;
}

.skills-summary-container {
    margin-left: 75px;
    margin-right: 75px;
}

.skills-row {
    //max-width: 700px;
    max-width: 900px;
    padding: 30px 0px;
}

.skills-card {
    border-radius: 10px;
}

#skillTitle h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 40px;
    width: 100%;
    text-align: center;
	font-weight: bolder;
	font-size: 30px;
}

#skillTitleSmaller {
    display: none;
}

.chart-wrapper {
    height: 350px;
}

#skillChartSmaller {
    display: none;
}

.resumeTitle {
    margin: 0 0 10px 0;
    top: 0;
    width: 100%;
}

.resumeTitle h1 {
    text-align: center;
	font-weight: bolder;
}
/* SKILLS */


@media screen and (max-width: 991px) {
    
/* SKILLS */
#skillTitle {
    display: none;
}

#skillChart {
    display: none;
}

#skillTitleSmaller {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#skillTitleSmaller h2 {
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

#skillChartSmaller {
    display: block;
}
/* SKILLS */

}


@media screen and (max-width: 550px) {

/* SKILLS */
.title-wrapper h1, .section-title h1 {
    font-size: 40px;
}

.title-wrapper h2 {
    font-size: 16px;
}

.overlay-header .fa {
    font-size: 50px;
}

.skills-summary-container {
    margin-left: 25px;
    margin-right: 25px;
}

#skillTitleSmaller h2 {
    font-size: 25px;
}
/* SKILLS */

}