<footer>
    <div class="footer-container">
        <h2>Thanks for visiting! Feel free to contact me for further inquiries!</h2>
        <p class="email">jenny100.yu@gmail.com</p>

        <div class="footer-underline"></div>

        <a href="https://www.linkedin.com/in/jennyyu519/" target="_blank"
        ><fa-icon [icon]="faLinkedin" class="icons"></fa-icon>
        </a>
        <a href="https://github.com/MochiTarts" target="_blank"
        ><fa-icon [icon]="faGithub" class="icons"></fa-icon>
        </a>
        <a href="https://www.youtube.com/channel/UC_Cv4yXE2DOnY_rpJ9nPNMg" target="_blank"
        ><fa-icon [icon]="faYoutube" class="icons"></fa-icon>
        </a>
        <a href="https://www.instagram.com/jy_melodicist/" target="_blank"
        ><fa-icon [icon]="faInstagram" class="icons"></fa-icon>
        </a>
    </div>
    <p class="footer-final-text">Copyright &copy; {{ year }} Jenny Yu</p>
</footer>