* {
    -webkit-overflow-scrolling: touch;
}

/* GLOBALS */
html, body {
	background: #fff;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 100%;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
}

button:focus {
	outline: none;
	box-shadow: none;
}

.modal {
	z-index: 100001 !important;
	animation: fadeIn 0.5s;
	opacity: 1;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		top: -10%;
	}
	to {
		opacity: 1;
	}
}

.row {
    margin: auto;
}

.section-title {
    padding: 50px 0px 75px 0px;
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
	cursor: pointer;
}

.carousel-control-prev-icon{
	background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;
}

.carousel-control-next-icon{
	background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')!important;
}

/* Greeting */
.ml1 {
	position: relative;
	opacity: 0;
}

.ml1 .text-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.ml1 .letter {
	display: inline-block;
	transform-origin: 0 0;
}
/* Greeting */

/* Slogan */
.ml2 {
    /*position: relative;
	opacity: 0;*/
	position: relative;
	font-weight: 900;
}
  
.ml2 .text-wrapper {
    /*position: relative;
    display: inline-block;
    overflow: hidden;*/
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}
  
.ml2 .letter {
    //display: inline-block;
	display: inline-block;
	line-height: 1em;
	transform-origin: 0 0;
}
/* Slogan */

@media screen and (max-width: 550px) {
	
body {
	overflow-x: hidden;
}

}