<span class="anchor" id="contact"></span>
<div class="contact-container">
    <div class="contact-form-container">
        <div class="section-title" data-aos="fade-right">
            <h1>{{ contactTitle }}</h1>
            <div class="underline"></div>
        </div>
        <div class="contact-form-container">
            <iframe loading="lazy" name="hiddenFrame" class="hide"></iframe>
            <form class="gform" method="POST" target="hiddenFrame" action="https://script.google.com/macros/s/AKfycbzXNezqDS74_vHoSBN0ZLI9288mFFXwfepxKZXHokZ1dwceZJv5Xxju1yGyVI19zxGZ/exec">
                <div id="thankyou_alert" class="alert alert-success" role="alert">
                    <a class="close" aria-label="close" (click)="dismissAlert()">&times;</a>
                    Thank you for reaching out! I'll get back to you as soon as possible!
                </div>
    
                <div class="form">
                    <div class="form-group">
                        <label for="name">* Name: </label>
                        <input id="name" name="name" class="form-control" required placeholder="Your name" />
                    </div>
        
                    <div class="form-group">
                        <label for="message">* Message: </label>
                        <textarea
                            id="message"
                            name="message"
                            class="form-control"
                            rows="10"
                            required
                            placeholder="Your message"
                        ></textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="email">* Email Address:</label>
                        <input
                            id="email"
                            name="email"
                            type="email"
                            class="form-control"
                            value=""
                            required
                            placeholder="yourName@email.com"
                        />
                    </div>
                </div>
                <button class="form-button" mat-raised-button type="submit" (click)="sendMail()">Send</button>
                <button class="form-button" mat-raised-button type="reset">Clear</button>
            </form>
        </div>
    </div>
</div>