.underline {
    //border-bottom: 3px solid #d48c7d;
	border-bottom: 3px solid #333;
    width: 100px;
    padding-top: 25px;
    margin: auto;
}

/* CONTACT */
.section-title h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.contact-container {
	background-color: #62ce86;
	color: white;
	padding-bottom: 50px;
    position: relative;
}

.contact-form-container {
    max-width: 500px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-container form {
	width: 100%;
}

.contact-container .form-button {
	border-radius: 5px;
	height: fit-content;
	background-color: #333;
	color: white;
	border: solid white 2px;
	cursor: pointer;
	margin: 0px 10px 0px 0px;
}

#thankyou_alert {
    position: absolute;
    max-width: 425px;
    top: 150px;
    margin-right: 30px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hide {
	position:absolute;
	top:-1px;
	left:-1px;
	width:1px;
	height:1px;
}
/* CONTACT */