.section-title h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.underline {
    //border-bottom: 3px solid #d48c7d;
	border-bottom: 3px solid #333;
    width: 100px;
    padding-top: 25px;
    margin: auto;
}

/* HEADER */
.header {
    background-image: url('/assets/header.jpeg');
    height: 100%;
	background-size: cover;
	background-position: 20%;
	background-repeat: no-repeat;
	max-height: 900px;
}

.overlay-header {
    //background-color: rgba(0, 0, 0, 0.5);
	background-color: rgba($color: #000, $alpha: 0.5);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bounce {
    margin-bottom: 25px;
}

.overlay-header .fa {
    color: white;
    font-size: 70px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.overlay-header .fa:hover {
    border-bottom: none;
    cursor: pointer;
    color: pink;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
}

.title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.title-wrapper h1 {
    font-weight: 200;
    font-size: 60px;
    margin: auto;
}

.title-wrapper h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 35px auto 0px auto;
}
/* HEADER */

/* EXPERIENCES */
.experiences-container {
    height: fit-content;
    //background-color: #eee;
	//background-color: #73d393;
    background-color: rgb(125, 236, 111);
	color: white;
	padding-bottom: 50px;
}

.experiences-summary-container {
    margin-left: 75px;
    margin-right: 75px;
}

.experiences-row {
    max-width: 1100px;
    margin: auto;
}

.experience-card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 100%;
	width: 100%;
    border-radius: 10px;
	margin: auto;
    margin-bottom: 35px;
}

.experience-card-mobile {
    display: none;
}

.experience-title {
    text-align: left;
    font-size: 25px !important;
	font-weight: bolder;
    color: #333;
}

.experience-button {
    border: solid#333 3px;
    background-color: white;
    color: black;
	border-radius: 5px;
}

.experience-short-desc {
	margin: 20px;
}

.experience-short-desc h5 {
    color: #888;
}

.experience-short-desc ul {
    padding-left: 20px;
}

.experience-short-desc li {
    font-size: 18px;
	list-style-type: square;
    color: #333;
}

.resumeTitle {
    margin: 0 0 10px 0;
    top: 0;
    width: 100%;
}

.resumeTitle .link {
    text-align: right;
    font-size: 1.4rem;
}

.resumeTitle a {
    color: white;
}
/* EXPERIENCES */
    
    
@media screen and (max-width: 550px) {

/* EXPERIENCES */
.title-wrapper h1, .section-title h1 {
    font-size: 40px;
}

.title-wrapper h2 {
    font-size: 16px;
}

.overlay-header .fa {
    font-size: 50px;
}

.experiences-summary-container {
    margin-left: 25px;
    margin-right: 25px;
}

.experience-card {
    display: none;
}

.experience-card-mobile {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 35px;
}

.experience-title {
    font-size: 20px !important;
}

.experience-card-mobile button {
    margin-bottom: 10px;
    font-size: 10px;
}

.experience-short-desc {
    margin: 5px;
}

.experience-short-desc h6 {
    color: #888;
}

.experience-short-desc li {
    font-size: 15px;
}

.experience-button {
    left: 50%;
    transform: translate(-50%);
}

.modal-body h5 {
    color: #888;
    font-size: 18px;
}

.modal-body ul {
    padding-left: 20px;
}

.modal-body li {
	list-style-type: square;
    color: #333;
    font-size: 14px;
}

.resumeTitle a {
    font-size: 18px;
}
/* EXPERIENCES */

}


@media screen and (max-width: 320px) {

/* EXPERIENCES */
.experience-short-desc {
    margin: 0px;
}
/* EXPERIENCES */   

}