<div class="header">
    <div class="overlay">
        <div class="title-wrapper">
            <div class="jumbotron">
                <h1>{{ greeting }}</h1>
                <h2>{{ slogan }}</h2>
            </div>
        </div>
    </div>
</div>

<section class="anchor" id="about"></section>
<div class="about-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ aboutTitle }}</h1>
        <div class="underline"></div>
    </div>
    <div class="portrait">
        <div class="portrait-container">
        </div>
    </div>
    <div class="about-me-container">
        <div class="row no-gutters about-row">
            <div class="col-md-4"  *ngFor="let section of about">
                <h2>{{ section.title }}</h2>
                <ul *ngFor="let point of section.points">
                    <li>{{ point }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="anchor" id="skills"></section>
<div class="skills-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ skillsTitle }}</h1>
        <div class="underline"></div>
    </div>
    <div class="skills-summary-container">
        <div class="row no-gutters skills-row" *ngFor="let skill of skillsData">
            <div class="col-md-4">
                <h2>{{ skill.title }}</h2>
            </div>
            <div class="col-md-8">
                <div class="chart-wrapper">
                    <canvas baseChart 
                    [data]="doughnutChartData(skill.data)"
                    [labels]="doughnutChartLabels(skill.data)"
                    [chartType]="doughnutChartType"
                    [options]="doughnutChartOptions"
                    [plugins]="pluginLabels">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
</div>