<div class="header">
    <div class="overlay-header">
        <div class="title-wrapper">
            <h1 class="ml1">{{ greeting }}</h1>
            <h2 class="ml2">
                <span class="text-wrapper">
                    <span class="letters">{{ slogan }}</span>
                </span>
            </h2>
        </div>
        <div class="bounce">
            <a class="fa fa-arrow-down" (click)="gotoAbout()"></a>
        </div>
    </div>
</div>

<section class="anchor" id="about"></section>
<div class="about-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ aboutTitle }}</h1>
        <div class="underline"></div>
    </div>
    <div class="portrait">
        <div class="portrait-container">
        </div>
    </div>
    <div class="about-me-container">
        <div class="row about-row">
            <div class="col-lg-4"  *ngFor="let section of about">
                <h2>{{ section.title }}</h2>
                <ul *ngFor="let point of section.points">
                    <li>{{ point }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="anchor" id="skills"></section>
<div class="skills-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ skillsTitle }}</h1>
        <div class="underline"></div>
    </div>
    <div class="skills-summary-container">
        <div class="row no-gutters skills-row" *ngFor="let skill of skillsData" data-aos="fade-up">
            <div class="col-lg-4" id="skillTitle">
                <h2>{{ skill.title }}</h2>
            </div>
            <div class="col-lg-8" id="skillChart">
                <div class="chart-wrapper">
                    <canvas baseChart 
                        [data]="doughnutChartData(skill.data)"
                        [labels]="doughnutChartLabels(skill.data)"
                        [chartType]="doughnutChartType"
                        [options]="doughnutChartOptions"
                        [plugins]="pluginLabels">
                    </canvas>
                </div>
            </div>

            <div class="col-lg-12" id="skillTitleSmaller">
                <h2>{{ skill.title }}</h2>
            </div>
            <div class="col-lg-12" id="skillChartSmaller">
                <div class="chart-wrapper">
                    <canvas baseChart 
                        [data]="doughnutChartData(skill.data)"
                        [labels]="doughnutChartLabels(skill.data)"
                        [chartType]="doughnutChartType"
                        [options]="doughnutChartOptions"
                        [plugins]="pluginLabels">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row no-gutters skills-row" data-aos="fade-up">
            <div class="resumeTitle">
                <h1>{{ resumeTitle }}</h1>
            </div>
            <iframe src="https://drive.google.com/file/d/1_1Q_MPlBOdFIt2ee6qK9E5ktMwaALlPg/preview" width="100%" height="500px"></iframe>
        </div>
    </div>
</div>

<span class="anchor" id="experiences"></span>
<div class="experiences-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ experiencesTitle }}</h1>
        <div class="underline"></div>
    </div>
    <div class="experiences-summary-container">
        <div class="row no-gutters experiences-row">
            <mat-card class="experience-card mat-elevation-z8" data-aos="fade-up" *ngFor="let job of experiencesInfo">
                <mat-card-header>
                    <mat-card-title class="experience-title">{{ job.job_title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="experience-short-desc">
                    <h5><i>{{ job.date }}</i> | {{ job.company }}</h5>
                    <ul *ngFor="let point of job.points">
                        <li class="jobpoint">{{ point }}</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


<section class="anchor" id="projects"></section>
<div class="projects-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ projectsTitle }}</h1>
        <div class="underline"></div>
    </div>
    <div class="projects-summary-container">
        <div class="row no-gutters projects-row">
            <div class="col-lg-4" *ngFor="let project of projectsInfo">
                <mat-card class="project-card mat-elevation-z8" data-aos="fade-up">
                    <mat-card-header>
                        <mat-card-title class="project-title">{{ project.title }}</mat-card-title>
                    </mat-card-header>
                    <div mat-card-image class="project-image-container">
                        <img class="project-image" src="{{ project.thumbnail }}">
                    </div>
                    <mat-card-content class="project-short-desc">
                        <h5>{{ project.date }}</h5>
                        <p>{{ project.short_desc }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button class="project-button" (click)="open(projectContent, project)">VIEW PROJECT</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<span class="anchor" id="contact"></span>
<div class="contact-container">
    <div class="contact-form-container">
        <div class="section-title" data-aos="fade-right">
            <h1>{{ contactTitle }}</h1>
            <div class="underline"></div>
        </div>
        <div class="contact-form-container">
            <iframe name="hiddenFrame" class="hide"></iframe>
            <form class="gform" method="POST" target="hiddenFrame" action="https://script.google.com/macros/s/AKfycbzXNezqDS74_vHoSBN0ZLI9288mFFXwfepxKZXHokZ1dwceZJv5Xxju1yGyVI19zxGZ/exec">
                <div id="thankyou_alert" class="alert alert-success" role="alert">
                    <a class="close" aria-label="close" (click)="dismissAlert()">&times;</a>
                    Thank you for reaching out! I'll get back to you as soon as possible!
                </div>
    
                <div class="form">
                    <div class="form-group">
                        <label for="name">* Name: </label>
                        <input id="name" name="name" class="form-control" required placeholder="Your name" />
                    </div>
        
                    <div class="form-group">
                        <label for="message">* Message: </label>
                        <textarea
                            id="message"
                            name="message"
                            class="form-control"
                            rows="10"
                            required
                            placeholder="Your message"
                        ></textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="email">* Email Address:</label>
                        <input
                            id="email"
                            name="email"
                            type="email"
                            class="form-control"
                            value=""
                            required
                            placeholder="yourName@email.com"
                        />
                    </div>
                </div>
                <button class="form-button" mat-raised-button type="submit" (click)="sendMail()">Send</button>
                <button class="form-button" mat-raised-button type="reset">Clear</button>
            </form>
        </div>
    </div>
</div>



<ng-template #projectContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ projectTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-project-image">
            <ngb-carousel [interval]="6000">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="modal-image-wrapper">
                        <img [src]="image.image" alt="image.alt">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="modal-project-desc" style="white-space:pre-wrap;">
            <div class="tags">
                <span class="badge {{ tag.badge }}" *ngFor="let tag of projectTags">{{ tag.tag }}</span>
            </div>
            <p id="modal-project-paragraph" style="white-space:pre-line;">{{ projectLongDesc }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="gotoProjectLink(projectLink)">View More</button>
        <button *ngIf="projectWebsite !== undefined" type="button" class="btn btn-outline-dark" (click)="gotoProjectLink(projectWebsite)">Website</button>
    </div>
</ng-template>