<section class="anchor" id="homeLink"></section>
<div class="header">
    <div class="overlay">
        <div class="title-wrapper">
            <div class="jumbotron">
                <h1>{{ greeting }}</h1>
                <h2>{{ slogan }}</h2>
            </div>
        </div>
    </div>
</div>

<section class="anchor" id="aboutLink"></section>
<div class="about-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ about }}</h1>
        <div class="underline"></div>
    </div>
    <div class="portrait">
        <div class="portrait-container">
        </div>
    </div>
    <div class="about-me-container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <h2>Hi! I am...</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel congue velit.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>I can do...</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel congue velit.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Other things I can do...</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel congue velit.</li>
                </ul>
            </div>
        </div>
    </div>
</div>