body, html {
    height: 100%;
    margin: 0;
}

.row {
    margin: auto;
}

.section-title {
    padding: 50px 0px 75px 0px;
}

/* HEADER */
.header {
    background-image: url('../../../assets/header.JPG');
    height: 100%;
	background-size: cover;
	background-position: 20%;
	background-repeat: no-repeat;
	max-height: 900px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.title-wrapper h1 {
    font-weight: 200;
    font-size: 60px;
    overflow: hidden;
    margin: auto;
    white-space: nowrap;
    animation:
        typing 2.75s steps(40, end),
        blink-caret .6s step-end 4 forwards;
}

.title-wrapper h2 {
    font-weight: 400;
    font-size: 20px;
    overflow: hidden;
    margin: 35px auto;
    white-space: nowrap;
    animation:
        typing 4.5s steps(40, end),
        blink-caret .6s step-end 8 forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    0% { border-right: 3px solid white; }
    100% { border-right: 3px solid transparent; white-space: normal; }
}
/* HEADER */

/* ABOUT */
.about-container {
    height: fit-content;
    background-color: #f4f4f4;
}

.section-title h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.underline {
    border-bottom: 3px solid #ff91a4;
    width: 100px;
    padding-top: 25px;
    margin: auto;
}

.portrait {
    width: 100%;
}

.portrait-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('../../../assets/portraitme.jpg');
    background-size: cover;
    background-position: 60%;
    margin: auto;
}

.about-row {
    width: 1100px;
}

.about-me-container {
    margin-top: 50px;
    padding-bottom: 50px;
}

.about-me-container h2 {
    text-align: center;
}
/* ABOUT */

/* SKILLS */
.skills-container {
    height: fit-content;
    background-color: #eee;
}

.skills-row {
    width: 700px;
    max-width: 900px;
    padding: 30px 0px;
}

#skillTitle h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.skills-container {
    padding-bottom: 50px;
}

.chart-wrapper {
    height: 350px;
}

.resumeTitle {
    margin: 0 0 10px 0;
    top: 0;
    width: 100%;
}

.resumeTitle h1 {
    text-align: center;
}
/* SKILLS */

/* PROJECTS */
.projects-container {
    height: fit-content;
    background-color: #f4f4f4;
    padding-bottom: 50px;
}

.projects-summary-container {
    padding-bottom: 50px;
}

.projects-row {
    width: 1100px;
    margin: auto;
    row-gap: 35px;
}

.project-card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    transition: all 0.5s ease-in-out;
    height: 100%;
    border-radius: 10px;
}

.project-title {
    text-align: left;
    font-size: 25px;
}

.project-image-container {
    height: 300px;
    max-height: 500px;
}

.project-image {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
}

.project-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border: solid#333 3px;
    background-color: white;
    color: black;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

.project-short-desc h5 {
    color: #888;
}

.project-short-desc p {
    font-size: 17px;
}

.project-card:hover .project-button {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.project-card:hover {
    background-color: #555;
    color: white;
    transition: all 0.5s ease-in-out;
}

.project-card:hover .project-short-desc h5 {
    color: white;
    transition: all 0.5s ease-in-out;
}

.project-card:hover .project-image {
    opacity: 0.75;
    transition: all 0.5s ease-in-out;
}

.modal-image-wrapper {
    width: 100%;
    height: 400px;
}

.modal-image-wrapper img {
    display: block;
    height: 100%;
    margin: auto;
}

.modal-project-desc {
    margin-top: 50px;
}
/* PROJECTS */