body, html {
    height: 100%;
    margin: 0;
}

.row {
    margin: auto;
}

/* HEADER */
.header {
    background-image: url('../../../assets/header.JPG');
    height: 100%;
	background-size: cover;
	background-position: 20%;
	background-repeat: no-repeat;
	max-height: 900px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.jumbotron h1 {
    font-weight: 200;
    font-size: 60px;
    overflow: hidden;
    margin: auto;
    white-space: nowrap;
    animation:
        typing 3.2s steps(40, end),
        blink-caret .6s step-end 4 forwards;
}

.jumbotron h2 {
    font-weight: 400;
    overflow: hidden;
    margin: 35px auto;
    white-space: nowrap;
    animation:
        typing 4.5s steps(40, end),
        blink-caret .6s step-end 8 forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    0% { border-right: 3px solid white; }
    100% { border-right: 3px solid transparent; white-space: normal; }
}
/* HEADER */

/* ABOUT */
.about-container {
    height: fit-content;
    background-color: #f4f4f4;
}

.section-title {
    padding: 50px 0px 75px 0px;
}

.section-title h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.underline {
    border-bottom: 3px solid #ff91a4;
    width: 100px;
    padding-top: 25px;
    margin: auto;
}

.portrait {
    width: 100%;
}

.portrait-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('../../../assets/portraitme.jpg');
    background-size: cover;
    background-position: 60%;
    margin: auto;
}

.about-row {
    width: 1100px;
}

.about-me-container {
    margin-top: 50px;
    padding-bottom: 50px;
}

.about-me-container h2 {
    text-align: center;
}
/* ABOUT */

/* SKILLS */
.skills-container {
    height: fit-content;
    background-color: #eee;
}

.skills-row {
    width: 700px;
    max-width: 900px;
    padding: 30px 0px;
}

.skills-summary-container h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
    width: 100%;
    text-align: center;
}

.skills-container {
    padding-bottom: 50px;
}

.chart-wrapper {
    height: 350px;
}
/* SKILLS */