.section-title h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.underline {
    //border-bottom: 3px solid #d48c7d;
	border-bottom: 3px solid #333;
    width: 100px;
    padding-top: 25px;
    margin: auto;
}

/* HEADER */
.header {
    background-image: url('/assets/header.jpeg');
    height: 100%;
	background-size: cover;
	background-position: 20%;
	background-repeat: no-repeat;
	max-height: 900px;
}

.overlay-header {
    //background-color: rgba(0, 0, 0, 0.5);
	background-color: rgba($color: #000, $alpha: 0.5);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bounce {
    margin-bottom: 25px;
}

.overlay-header .fa {
    color: white;
    font-size: 70px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.overlay-header .fa:hover {
    border-bottom: none;
    cursor: pointer;
    color: pink;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-14px);
        transform: translateY(-14px);
    }
    60% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
}

.title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.title-wrapper h1 {
    font-weight: 200;
    font-size: 60px;
    margin: auto;
}

.title-wrapper h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 35px auto 0px auto;
}
/* HEADER */

/* PROJECTS */
.projects-container {
    height: fit-content;
    //background-color: #f4f4f4;
	//background-color: #73d393;
    background-color: rgb(125, 236, 111);
	color: white;
    padding-bottom: 50px;
}

.projects-summary-container {
    margin-left: 75px;
    margin-right: 75px;
}

.projects-row {
    max-width: 1100px;
    margin: auto;
}

.projects-row .col-lg-4 {
    margin-bottom: 25px;
}

.project-card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    height: 100%;
    border-radius: 10px;
    margin: 0px 10px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.project-title {
    text-align: left;
	font-size: 20px !important;
	font-weight: bolder;
    color: #333;
}

.project-image-container {
    height: 300px;
    max-height: 500px;
}

.project-image {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
}

.project-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border: solid #333 3px;
    color: #333;
	border-radius: 5px;
    background-color: white;
    color: black;
    height: 50px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.project-short-desc h5 {
    color: #6c757d;
}

.project-short-desc p {
    font-size: 17px;
    color: #333;
}

.project-card:hover .project-button {
    opacity: 1;
}

.project-card:hover {
    transform: scale(1.025);
    cursor: pointer;
    background-color: #333;
}

.project-card:hover .project-title {
    color: white;
}

.project-card:hover .project-short-desc h5 {
    color: silver;
}

.project-card:hover .project-short-desc p {
    color: white;
}

#projectContent {
    opacity: 1;
}

.modal-title {
    color: #333;
}

.modal-image-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
}

.modal-image-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.modal-project-desc {
    margin-top: 50px;
    color: #333;
}

.tags {
	margin-bottom: 20px;
}

.badge {
	margin: 2px;
	font-size: 15px;
}
/* PROJECTS */


@media screen and (max-width: 991px) {

/* PROJECTS */
.project-card {
    margin: 0px;
}
/* PROJECTS */

}


@media screen and (max-width: 550px) {

/* PROJECTS */
.title-wrapper h1, .section-title h1 {
    font-size: 40px;
}

.title-wrapper h2 {
    font-size: 16px;
}

.overlay-header .fa {
    font-size: 50px;
}

.projects-summary-container {
    margin-left: 25px;
    margin-right: 25px;
}

.project-short-desc h5 {
    font-size: 18px;
}

.project-short-desc p {
    font-size: 15px;
}
/* PROJECTS */

}