<section class="anchor" id="header"></section>
<div class="header" [lazyLoad]="'../../../assets/header.jpeg'">
    <div class="overlay-header">
        <div class="title-wrapper">
            <h1 class="ml1">{{ projectsHeader }}</h1>
            <h2 class="ml2">
                <span class="text-wrapper">
                    <span class="letters">{{ projectsSlogan }}</span>
                </span>
            </h2>
        </div>

        <div></div>
        <div class="bounce">
            <a class="fa fa-angle-double-down" (click)="gotoProjects()"></a>
        </div>
    </div>
</div>

<section class="anchor" id="projects"></section>
<div class="projects-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ projectsTitle }}</h1>
        <div class="underline"></div>
    </div>
    <div class="projects-summary-container">
        <div class="row projects-row">
            <div class="col-lg-4" *ngFor="let project of projectsInfo">
                <div data-aos="fade-up" style="height: 100%;">
                    <mat-card class="project-card mat-elevation-z8" (click)="open(projectContent, project)">
                        <mat-card-header>
                            <mat-card-title class="project-title">{{ project.title }}</mat-card-title>
                        </mat-card-header>
                        <div mat-card-image class="project-image-container">
                            <img class="project-image" src="{{ project.thumbnail }}" [lazyLoad]="project.thumbnail">
                        </div>
                        <mat-card-content class="project-short-desc">
                            <h5>{{ project.date }}</h5>
                            <p>{{ project.short_desc }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="project-button mat-elevation-z8">VIEW PROJECT</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #projectContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ projectTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-project-image">
            <ngb-carousel [interval]="6000">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="modal-image-wrapper">
                        <img [src]="image.image" alt="image.alt" [lazyLoad]="image.image">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="modal-project-desc" style="white-space:pre-wrap;">
            <div class="tags">
                <span class="badge {{ tag.badge }}" *ngFor="let tag of projectTags">{{ tag.tag }}</span>
            </div>
            <p id="modal-project-paragraph" style="white-space:pre-line;">{{ projectLongDesc }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="projectLink !== undefined" type="button" class="btn btn-outline-dark" (click)="gotoProjectLink(projectLink)">View More</button>
        <button *ngIf="projectWebsite !== undefined" type="button" class="btn btn-outline-dark" (click)="gotoProjectLink(projectWebsite)">Website</button>
    </div>
</ng-template>