<section class="anchor" id="header"></section>
<div class="header" [lazyLoad]="'../../../assets/header.jpeg'">
    <div class="overlay-header">
        <div class="title-wrapper">
            <h1 class="ml1">{{ experiencesHeader }}</h1>
            <h2 class="ml2">
                <span class="text-wrapper">
                    <span class="letters">{{ experiencesSlogan }}</span>
                </span>
            </h2>
        </div>
    </div>
</div>

<span class="anchor" id="experiences"></span>
<div class="experiences-container">
    <div class="section-title" data-aos="fade-right">
        <h1>{{ experiencesTitle }}</h1>
        <div class="underline"></div>
    </div>
    <div class="experiences-summary-container">
        <div class="row no-gutters experiences-row">
            <mat-card class="experience-card mat-elevation-z8" data-aos="fade-up" *ngFor="let job of experiencesInfo">
                <mat-card-header>
                    <mat-card-title class="experience-title">{{ job.job_title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="experience-short-desc">
                    <h5><i>{{ job.date }}</i> | {{ job.company }}</h5>
                    <ul *ngFor="let point of job.points">
                        <li class="jobpoint">{{ point }}</li>
                    </ul>
                </mat-card-content>
            </mat-card>

            <mat-card class="experience-card-mobile mat-elevation-z8" data-aos="fade-up" *ngFor="let job of experiencesInfo">
                <mat-card-header>
                    <mat-card-title class="experience-title">{{ job.job_title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="experience-short-desc">
                    <h6><i>{{ job.date }}</i> | {{ job.company }}</h6>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="experience-button" (click)="openJob(experienceContent, job)">SEE MORE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #experienceContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ jobTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5><i>{{ jobDate }}</i> | {{ jobCompany }}</h5>
        <ul *ngFor="let point of jobPoints">
            <li class="jobpoint">{{ point }}</li>
        </ul>
    </div>
</ng-template>