@import "src/styles";

.nav {
    position: fixed;
    top: 0;
    text-align: center;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: lighter;
}

.nav-item {
	padding: 10px 20px;
}

.nav-link {
    color: black;
    border-bottom: solid 1px transparent;
	transition: 0.5s;
    text-decoration: none;
}

.nav-link:hover {
	border-bottom: solid 2px black;
    cursor: pointer;
}