<nav class="nav justify-content-center" (scroll)="onWindowScroll($event)">
    <span class="nav-item">
        <a class="nav-link" (click)="gotoTop()">Home</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" (click)="gotoAbout()">About</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" (click)="gotoSkills()">Skills</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" (click)="gotoProjects()">Projects</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" href="#">Experiences</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </span>
</nav>
