<nav class="nav">
    <span class="nav-item">
        <a class="nav-link" [routerLink]="['']" fragment="homeLink">Home</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" [routerLink]="['']" fragment="aboutLink">About</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" href="#">Skills</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" href="#">Projects</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" href="#">Experiences</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </span>
</nav>
