<nav class="nav justify-content-center" (scroll)="onWindowScroll($event)">
    <span class="nav-item">
        <a class="nav-link" (click)="gotoTop()">Home</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" routerLink="/skills">Skills</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" routerLink="experience">Experience</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" routerLink="projects">Projects</a>
    </span>
    <span class="nav-item">
        <a class="nav-link" (click)="gotoContact()">Contact</a>
    </span>
</nav>

<span class="hamburger" (click)="openNav()">&#9776;</span>
<nav id="myNav" class="overlay">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content">
        <a (click)="gotoTopMobile()">Home</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/experience">Experience</a>
        <a routerLink="/projects">Projects</a>
        <a (click)="gotoContactMobile()">Contact</a>
    </div>
</nav>