.nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0;
}

#myNav {
    display: none;
}

.hamburger {
    display: none;
}

.nav-inverse {
    background-color: #333;
}

.nav-inverse .nav-link {
    color: white;
}

.nav-links {
    width: 100%;
}

.nav-item {
    margin: 0px 10px;
}

.nav-inverse .nav-link:hover {
	border-bottom: solid 1px white;
    cursor: pointer;
}

.nav-link {
    color: black;
    border-bottom: solid 1px transparent;
    -webkit-transition: 0.5s;
	transition: 0.5s;
    text-decoration: none;
    padding: 0;
}

.nav-link:hover {
	border-bottom: solid 2px black;
    cursor: pointer;
}



@media screen and (max-width: 555px),
    screen and (max-width: 568px) and (orientation: landscape) {

.nav {
    display: none;
}

.hamburger {
    display: block;
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 1;
    font-size: 30px;
    color: white;
}

#myNav {
    display: block;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
}

}